[minecraft_servers]
# Replace the placeholder below with your AWS EC2 Public IP address
?.?.?.? ansible_user=ubuntu ansible_ssh_private_key_file=./mc_server_key ansible_ssh_common_args='-o StrictHostKeyChecking=no'
